
<div class="wrapper" style="margin-left: 250px">

    <pre>{{ dataArray$ | json}}</pre>

</div>
  <!-- <div class="wrapper">
    <ng-container *ngIf="data$">
      <table>
        <tr>
          <td>first_name</td>
          <td>last_name</td>
          <td>e-mail</td>
        </tr>
        <ng-container *ngFor="let d of data$">
          <tr>
            <td>{{ d | json}}</td>
            <td></td>
            <td></td>
          </tr>
        </ng-container>
      </table>
    </ng-container>
  </div>
 -->

