
  <div class="wrapper">
    <button style="" routerLink="user"> User List </button>
    <ng-container *ngIf="dataArray">

      <table>
        <tr>
          <td>first_name</td>
          <td>last_name</td>
          <td>e-mail</td>
        </tr>
        <ng-container *ngFor="let d of dataArray.data">
          <tr>
            <td>{{ d.first_name}}</td>
            <td>{{ d.last_name}}</td>
            <td>{{ d.email}}</td>
          </tr>
        </ng-container>
      </table>
    </ng-container>
  </div>


